/* Highlighting rules for nav menu items */
.navbar .navbar-nav .active ,
.navbar .navbar-nav .active :hover,
.navbar .navbar-nav .active :focus {
    background-image: none;
    background-color: #4189C7;
    color: white;
}

.navbar a {
    color: #9d9d9d;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    margin: 0;
    padding: 10px 16px;
}

    .navbar a.nav-link {
        cursor: pointer;
        font-size: 15px;
        border-radius: 4px;
        margin: 0;
        padding: 10px 16px;
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.navbar li {
    padding: 6px;
}

@media (min-width: 768px) {
    /* On large screens, convert the nav menu to a vertical sidebar */
    .navbar {
        height: 100%;
        width: calc(25% - 20px);
        border-radius: 0;
        border-width: 0;
        flex-flow: column;
        align-items: flex-start;
        padding: 0 0rem;
    }

        .navbar .navbar-collapse {
            flex-grow: 0;
            width: 100%;
        }

        .navbar .navbar-nav {
            flex-grow: 1;
        }

        .navbar .navbar-brand {
            width: 100%;
            border-bottom: 1px solid #444;
        }
}
